-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: stuecklisten_erp
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(255) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('005_add_article_sw_origin');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `pos_nr` int DEFAULT NULL,
  `hg_artikelnummer` varchar(100) DEFAULT NULL,
  `benennung` varchar(500) DEFAULT NULL,
  `konfiguration` varchar(200) DEFAULT NULL,
  `teilenummer` varchar(100) DEFAULT NULL,
  `menge` int DEFAULT '1',
  `teiletyp_fertigungsplan` varchar(150) DEFAULT NULL,
  `abteilung_lieferant` varchar(150) DEFAULT NULL,
  `werkstoff` varchar(150) DEFAULT NULL,
  `werkstoff_nr` varchar(150) DEFAULT NULL,
  `oberflaeche` varchar(150) DEFAULT NULL,
  `oberflaechenschutz` varchar(150) DEFAULT NULL,
  `farbe` varchar(150) DEFAULT NULL,
  `lieferzeit` varchar(150) DEFAULT NULL,
  `laenge` float DEFAULT NULL,
  `breite` float DEFAULT NULL,
  `hoehe` float DEFAULT NULL,
  `gewicht` float DEFAULT NULL,
  `pfad` varchar(500) DEFAULT NULL,
  `sldasm_sldprt_pfad` varchar(500) DEFAULT NULL,
  `slddrw_pfad` varchar(500) DEFAULT NULL,
  `in_stueckliste_anzeigen` tinyint(1) DEFAULT '1',
  `erp_exists` tinyint(1) DEFAULT NULL,
  `p_menge` int DEFAULT '1',
  `bom_id` int NOT NULL,
  `pos_sub` int NOT NULL DEFAULT '0',
  `sw_origin` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `ix_articles_id` (`id`),
  KEY `ix_articles_hg_artikelnummer` (`hg_artikelnummer`),
  KEY `ix_articles_bom_id` (`bom_id`),
  CONSTRAINT `articles_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `fk_articles_bom_id` FOREIGN KEY (`bom_id`) REFERENCES `boms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles`
--

LOCK TABLES `articles` WRITE;
/*!40000 ALTER TABLE `articles` DISABLE KEYS */;
/*!40000 ALTER TABLE `articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boms`
--

DROP TABLE IF EXISTS `boms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `hugwawi_order_id` int DEFAULT NULL,
  `hugwawi_order_name` varchar(100) DEFAULT NULL,
  `hugwawi_order_article_id` int DEFAULT NULL,
  `hugwawi_article_id` int DEFAULT NULL,
  `hugwawi_articlenumber` varchar(70) DEFAULT NULL,
  `created_at` datetime DEFAULT (now()),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_boms_project_order_orderarticle` (`project_id`,`hugwawi_order_id`,`hugwawi_order_article_id`),
  KEY `ix_boms_id` (`id`),
  KEY `ix_boms_project_id` (`project_id`),
  CONSTRAINT `boms_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=265 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boms`
--

LOCK TABLES `boms` WRITE;
/*!40000 ALTER TABLE `boms` DISABLE KEYS */;
INSERT INTO `boms` VALUES (261,163,38718,'AU-2025-00387',183158,308056,'920894-0001000C','2026-01-18 18:34:29',NULL),(262,185,NULL,'190',NULL,NULL,NULL,'2026-01-18 22:32:29',NULL),(263,191,NULL,'AU-2025-00702',NULL,NULL,NULL,'2026-01-18 22:49:33',NULL),(264,191,39728,'AU-2025-00702',188248,309231,'900525-H-602350-A_geschliffen Korn 320','2026-01-18 22:49:33',NULL);
/*!40000 ALTER TABLE `boms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_generation_flags`
--

DROP TABLE IF EXISTS `document_generation_flags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_generation_flags` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `pdf_drucken` varchar(1) DEFAULT '',
  `pdf` varchar(1) DEFAULT '',
  `pdf_bestell_pdf` varchar(1) DEFAULT '',
  `dxf` varchar(1) DEFAULT '',
  `bestell_dxf` varchar(1) DEFAULT '',
  `step` varchar(1) DEFAULT '',
  `x_t` varchar(1) DEFAULT '',
  `stl` varchar(1) DEFAULT '',
  `bn_ab` varchar(1) DEFAULT '',
  PRIMARY KEY (`id`),
  UNIQUE KEY `article_id` (`article_id`),
  KEY `ix_document_generation_flags_id` (`id`),
  CONSTRAINT `document_generation_flags_ibfk_1` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1139 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_generation_flags`
--

LOCK TABLES `document_generation_flags` WRITE;
/*!40000 ALTER TABLE `document_generation_flags` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_generation_flags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `document_type` varchar(50) NOT NULL,
  `file_path` varchar(500) DEFAULT NULL,
  `exists` tinyint(1) DEFAULT '0',
  `generated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `article_id` (`article_id`),
  KEY `ix_documents_id` (`id`),
  CONSTRAINT `documents_ibfk_1` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11335 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `import_jobs`
--

DROP TABLE IF EXISTS `import_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `import_jobs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `bom_id` int NOT NULL,
  `assembly_filepath` text NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'queued',
  `step` varchar(50) DEFAULT NULL,
  `percent` int DEFAULT NULL,
  `message` text,
  `error` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `started_at` datetime DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `finished_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_import_jobs_project_id` (`project_id`),
  KEY `ix_import_jobs_bom_id` (`bom_id`),
  CONSTRAINT `import_jobs_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `import_jobs_ibfk_2` FOREIGN KEY (`bom_id`) REFERENCES `boms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `import_jobs`
--

LOCK TABLES `import_jobs` WRITE;
/*!40000 ALTER TABLE `import_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `import_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `hg_bnr` varchar(100) DEFAULT NULL,
  `bnr_status` varchar(50) DEFAULT NULL,
  `bnr_menge` int DEFAULT NULL,
  `bestellkommentar` varchar(500) DEFAULT NULL,
  `hg_lt` date DEFAULT NULL,
  `bestaetigter_lt` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `article_id` (`article_id`),
  KEY `ix_orders_id` (`id`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=544 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `projects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `au_nr` varchar(100) NOT NULL,
  `project_path` varchar(500) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  `artikel_nr` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_projects_artikel_nr` (`artikel_nr`),
  KEY `ix_projects_id` (`id`),
  KEY `ix_projects_au_nr` (`au_nr`)
) ENGINE=InnoDB AUTO_INCREMENT=192 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-21 20:03:53
